.banner {
    background: url(../assets/banner_12_apostles.webp) no-repeat center center;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner_subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--white);
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.banner_title {
    font-weight: 900;
    margin-bottom: 20px;
    color: var(--white);
    font-size: 3rem;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}


/* MOBILE */
@media (max-width: 768px) {
    .banner {
        height: 350px;
    }
    .banner_title {
        font-size: 2rem;
        margin-left: 20px;
        margin-right: 20px;       
    }
    .banner_subtitle {
        font-size: 1.2rem;
        margin-left: 20px;
        margin-right: 20px;       
    }

}