.experiences {
    
    padding: 50px 0;
}

.experiences_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.experiences_header_title {
    font-size: 2.5rem;
    font-weight: 900;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    color: var(--secondary-color);
    text-align: center;
}


.experiences_header_subtitle {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--secondary-color);
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.experiences_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.experiences_card {
    margin: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.experiences_card img {
    width: 100%;
    max-height: 400px
}

.experiences_card_title {
    background-color: var(--white);
    padding-bottom: 10px;
    font-size: 1.7rem;
    color: var(--secondary-color);
    padding-top: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
    font-weight: 500;
    border-bottom: 4px solid var(--main-color);
}

.experiences_card_info {
    margin: 15px
}

.experiences_card_info_title {
    color: var(--dark-grey)
}

.experiences_card_info_desc {
    margin: 15px
}

.experiences_card_info_detail {
    border-radius: 5px;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 10px;
    max-width: 300px;
    float: left;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
}

.experiences_card_info_detail:hover {
    background-color: var(--main-color);
}

.experiences_card_info_price {
    border-radius: 5px;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 10px;
    max-width: 300px;
    float: right;
    padding: 10px;
    font-weight: 700;
    border: 2px solid var(--main-color);

}

/* MOBILE */
@media (max-width: 768px) {
    .experiences_header_title {
        font-size: 2rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    .experiences_header_subtitle {
        font-size: 1rem;
        font-weight: 600;
        margin-left: 20px;
        margin-right: 20px;
    }
    .experiences_card_title {
        font-size: 1.1rem;
    }
    .experiences_cards {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .experiences_card {
        margin: 20px;
    }

}